.app {
  padding: 1em;
}

.preview-image {
  max-width: 400px;
  height: auto;
}

.file-card {
  font-size: 12px;
  grid-template-areas: 
    'file-card-filename file-card-filesize'
    'file-card-image file-card-image'
    'file-card-options file-card-options';
  color: black;
  box-sizing: border-box;
  /*border-radius: 4px;*/
  border: 1px solid hsla(220,10%,10%,1);
  width: 402px;
  background: hsla(220,10%,90%,1);
  display: grid;
  margin-bottom: 10px;
}

.file-card-filename {
  padding: 8px;
  grid-area: file-card-filename;
}

.file-card-filesize {
  padding: 8px;
  grid-area: file-card-filesize;
  text-align: right;
}

.file-card-image {
  grid-area: file-card-image;
}

.file-card-options {
  grid-area: file-card-options;
  padding: 8px;
}